/* 상단 영역 */
#nHeader .info {position:absolute; left:10px; top:13px;}
#nHeader .logo {margin:0 auto; width:185px; padding-top:10px; font-size:17px;}
#nHeader .gnb {position:absolute; right:10px; top:13px;}
#nHeader .gnb li {float:left; padding:0 8px;}
#nHeader .gnb li:first-child {background:url("../../../images/bd/common/gnb_bar.gif") no-repeat right center;}

/* 본문 > 서브 메뉴 */
#nContent .nLocation {position:relative;display:block;height:36px;border-bottom:1px solid #ccc;background:#fbfbfb;}
#nContent .subMenu{display:inline-block;float:left;height:26px;background:#f6891a;padding:10px 15px 0 15px;color:#eee;border-right:solid 1px #ccc;}
#nContent .nLocation .top_btn{position:absolute;right:10px;top:3px;}
#nContent .topArea {height:39px; padding:12px 0 0 10px; position:relative;}
#nContent .topArea .sort {position:absolute; top:12px; right:50px; height:30px;}

/* 공통 */
input.date{width:100px;}
.sort select{width:150px;}
.radio_list label{margin-right:10px;}

/*section_title_공통*/
.section_info {border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; background:#f4f4f4; padding:14px 0; text-align:center; font-weight:bold;}
.section_title {height:35px;margin-bottom:10px;position:relative;display:inline-block;width:100%;}
.section_title .title{padding-left:10px;float:left;font-size:16px;line-height:34px; color:#666;font-weight:bold;}
.section_title .title_s{float:left;font-size:14px;line-height:34px;font-weight:bold;padding-left:20px;background:url("../../../images/bd/ico/ico_dot.gif") no-repeat 10px center;}
.section_title .btn{float:right;padding:3px 10px 0 0;}
.section_title .position{position:absolute;right:10px;top:3px;}
.section_title .optionCover{float:left;padding-left:20px;line-height:35px;}

.main_section{padding-left:10px;position:relative;height:25px;}
.main_section.border{border-top:solid 1px #e4e4e4;padding-top:10px;margin-top:20px;}
.main_section p {color:#666; float:left;line-height:24px;}
.main_section .btn{float:right;margin-right:10px;}

/*section_tab 공통*/
.section_tab {height:31px; margin-bottom:10px;}
.section_tab > ul {float:left; height:31px; border-right:1px solid #ccc;}
.section_tab > ul > li {float:left;}
.section_tab > ul > li > a {display:block; width:120px; height:29px; font-size:12px; color:#666; line-height:28px; text-align:center; border:1px solid #cccccc; border-right:none;}
.section_tab > ul > li > a.on {background:#609dde; color:#fff;}

.section_tab.member > ul{height:37px}
.section_tab.member > ul:first-child > li:first-child > a{line-height:28px}
.section_tab.member > ul > li > a{height:32px;line-height:14px;padding-top:3px;width:90px;}
.section_tab.member > ul > li > a span{display:block;}

.moveBtn{height:37px;float:left;border-right:1px solid #404d5c;}
.moveBtn > li {float:left;}
.moveBtn > li > a {display:block; width:90px; height:35px;line-height:34px;font-size:12px; color:#fff;text-align:center; border:1px solid #404d5c;border-right:none;background:#576374}
.moveBtn > li:first-child > a{border-left:none;}

.btn_list li{margin-top:2px;text-align:center !important;}
.btn_list li:first-child{margin-top:0;}

/* 게시물 리스트 */
table .b_left{border-left:1px solid #e5e5e5 !important;}

/*list_default*/
.board_list {}
.board_list table{}
.board_list table {width:100%; _width:99%; border-top:1px solid #e0e0e0;position:relative; overflow: auto;}
.board_list table * {text-align:left;}
.board_list table th{padding:7px 0;text-align:center;vertical-align:middle;font-weight:normal;background:#f9f9f9;border-bottom:1px solid #ccc;border-left:1px solid #e5e5e5;}
.board_list table thead th:first-child{border-left:none;}
.board_list table tbody tr:hover {background:#f5f5f5;}
.board_list table tfoot td{background:#f5f5f5;}
.board_list table td {padding:7px 1px 7px 1px;border-bottom:1px solid #d9dbdc;border-left:1px solid #e4e4e4; text-align:center;}
.board_list table td:first-child,.board_list table th:first-child {border-left:none;}

.board_list table td.tleft {padding-left:10px;}
.board_list table td.tright {padding-right:10px;}
.board_list table td.break{word-break:break-all;}
.board_list table td a {color:#0086bd; font-size:13px;}
.board_list table td a:hover, .board_list table td a:focus {color:#6ca53b;}
.board_list table td label.under{font-size:13px;color:#0086bd;}

/*pop_default*/
.pop_list {}
.pop_list table{}
.pop_list table {width:100%; _width:99%; border-top:1px solid #e0e0e0;position:relative; }
.pop_list table * {text-align:left;}
.pop_list table th{padding:7px 0;text-align:center;vertical-align:middle;font-weight:normal;background:#f9f9f9;border-bottom:1px solid #ccc;border-left:1px solid #e5e5e5;}
.pop_list table thead th:first-child{border-left:none;}
.pop_list table tbody tr:hover {background:#f5f5f5;}
.pop_list table tfoot td{background:#f5f5f5;}
.pop_list table td {padding:7px 1px 7px 1px;border-bottom:1px solid #d9dbdc;border-left:1px solid #e4e4e4; text-align:center;}
.pop_list table td:first-child,.board_list table th:first-child {border-left:none;}

.pop_list table td.tleft {padding-left:10px;}
.pop_list table td.tright {padding-right:10px;}
.pop_list table td.break{word-break:break-all;}
.pop_list table td a {color:#0086bd; font-size:13px;}
.pop_list table td a:hover, .board_list table td a:focus {color:#6ca53b;}
.pop_list table td label.under{font-size:13px;color:#0086bd;}



/* 게시물 보기 */
.board_view {}
.board_view table {width:100%; _width:99%;  border-top:1px solid #e0e0e0;}
.board_view table * {text-align:left;}
.board_view table th {padding:7px 0 7px 0;vertical-align:middle;font-weight:normal;text-align:center;background:#f9f9f9;border-bottom:1px solid #e5e5e5;}
.board_view table td {padding:7px 0 7px 0;padding-left:10px;border-left:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.board_view table .tleft{padding-left:10px;}
.board_view table td a {color:#0086bd; font-size:13px;}
.board_view table td a:hover, .board_view table td a:focus{color:#6ca53b;}

/* 게시물 쓰기 */
.board_write {}
.board_write table {width:100%; _width:99%; border-top:1px solid #e5e5e5;}
.board_write table .tleft{padding-left:10px;}
.board_write table * {text-align:left;}
.board_write table th {padding:7px 0 7px 0;vertical-align:middle;font-weight:normal;background:#f4f4f4;border-bottom:1px solid #e5e5e5;text-align:center;}
.board_write table th .bgcolor{background:#fcf6ef;}
.board_write table td {padding:7px 0 7px 0;padding-left:10px;border-left:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.board_write table td table{border-left:solid 1px #e5e5e5;border-right:solid 1px #e5e5e5;}
.board_write table td table td{padding-left:0}
.board_write table td a {color:#0086bd; font-size:13px;}

/*paging */
.paging_wrap{position:relative;}
.paging_wrap .btn{position:absolute;right:10px;bottom:0;}
.paging {text-align:center; margin-top:20px;}
.paging a,.paging strong {padding:0 10px;margin-left:-4px; display:inline-block; height:26px; border:1px solid #ebebeb; border-bottom:1px solid #d7d7d7; border-right:0; vertical-align:top; text-align:center; color:#666666; font-size:11px; line-height:27px; _line-height:26px;}
.paging strong {background:#f4f4f4; color:#f27300;}
.paging .prev {margin-right:-2px;}
.paging .next {margin-left:-4px; *margin-left:-3px;}
.paging .prev, .paging .prevEnd, .paging .next, .paging .nextEnd {border:none; padding:0; width:27px;}
.paging img {vertical-align:top;}

/* category */
.categoryWrap .sort_list{}
#category {position:absolute;left:0;top:36px;width:299px;height:100%;ovborder-right:solid 1px #e5e5e5;overflow:auto;}
#category .root {position:relative;margin:0;padding:0;font-size:14px;}
#category ul { display:block;list-style:none;margin-top:5px;position:relative; padding:0 0 0 11px; background:url(../../../images/bd/content/line_tree_vr.gif) repeat-y 11px top;}
#category ul li{ position:relative;padding:7px 0 5px 18px;background:url(../../../images/bd/content/line_tree_hr.gif) no-repeat left 10px !important;white-space:nowrap;list-style:none;}
#category ul li a,#category ul li span.tree_label{ color:#333;text-decoration:none; position:relative;top:-1px;left:16px;_left:0;}
#category ul li a.none{text-decoration:line-through;}
#category ul li a.none:hover{text-decoration:line-through;}
#category ul li a.sold_out{text-decoration:line-through;color:#f00}
#category ul li a.sold_out:hover{text-decoration:line-through;}
#category ul li span{border:solid 1px #444;background:#444;display:inline-block;width:8px;height:8px;margin-right:5px;}
#category ul li span.unused{border:solid 1px #444;background:#fff;}
#category ul li a:hover { text-decoration:none; }
#category ul li button{display:inline-block;position:relative;*top:-2px;_top:-2px;_left:-16px;width:13px;*width:17px;height:13px;*height:17px;margin:0 -13px 0 0;*margin:0 -17px -2px -2px;border:none;background:url(../../../images/bd/content/btn_tree_collapse.gif) no-repeat;*font-family:Sans-serif;*font-size:0;*line-height:0;text-indent:-10000px;*text-indent:0;cursor:pointer;_cursor:hand;}
#category ul li button.minus {background-position:0 -11px;*background-position:2px -11px}
#category ul li button.plus {background-position:0 2px;*background-position:2px 2px}
#category ul li.tree_last{background:url(../../../images/bd/content/line_tree_last_hr.gif) no-repeat 0 10px !important;}
#category ul li > ul{padding-left:6px;background-position:6px top;}
#category .selected {color:#222;font-weight:bold;background:#eaeaea;padding:3px 5px}
#category .moveSpace { border: 1px dotted #CC0000; height:2px;width:200px; }
#category .gExplorerCtrl{position:relative;overflow:hidden;padding: 7px;}
#category .gExplorerCtrl:after{clear: both;content: " ";display: block;font-size: 0;height: 0;line-height: 0;}
#category .gExplorerCtrl > p{position:absolute;right:10px;top:7px}
#category .directory {overflow: auto;padding: 6px 7px;}
#category .directory > ul li a{letter-spacing:0}
.category_cont{margin-left:300px;}

/*layer_공통*/
.layerCover{position:absolute;border:solid 1px #ccc;padding:10px;position:absolute;background:#fff;display:none;z-index:9999}
.layerCover.register{padding-right:30px;}
.layerCover .title{text-align:left;font-size:13px;font-weight:bold;line-height:12px;padding-bottom:10px;}
.layerCover .closeBtn{position:absolute;right:10px;top:10px;}
